<h1>Dashboard</h1>
    <!-- New Cards -->
  <div class="row">
    <div class="col-md-3">
      <div class="card custom-shadow card-smaller">
        <div class="card-body">
            <center><h5 class="card-title">Income (Monthly)<i class='bx bxs-calendar' style='color:#ffffff' ></i></h5></center>
            <h4>$10,000</h4>
            
            <!-- Add content here for Card 3 -->
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <div class="card custom-shadow card-smaller">
          <div class="card-body">
            <center><h5 class="card-title">Income (Anually)<i class='bx bxs-badge-dollar'></i></h5></center>
            
            <h4>$50,000</h4>
            <!-- Add content here for Card 4 -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-shadow card-smaller">
          <div class="card-body">
           <center> <h5 class="card-title">Task<i class='bx bx-task'></i></h5></center>
           <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              25%
            </div>
          </div>
          
            <!-- Add content here for Card 5 -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-shadow card-smaller">
          <div class="card-body">
            <center><h5 class="card-title">Pending Request<i class='bx bxs-message-error'></i></h5></center>
            <h4>69</h4>
            <!-- Add content here for Card 6 -->
          </div>
        </div>
      </div>
    </div>
    <!-- End of New Cards -->
  
    <!-- Existing Charts -->
    <div class="row">
      <div class="col-md-9">
        <div class="card custom-shadow">
          <div class="card-body">
            <center><h5 class="card-title">Overview</h5></center>
            <canvas id="chart1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card custom-shadow card-smaller">
          <div class="card-body">
            <center><h5 class="card-title">Revenue Sources</h5></center>
            <canvas id="chart2"></canvas>
        </div>
      </div>
    </div>
  </div>