<div class="sidebar-container">
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <!-- Sidebar Content Container -->
      <div class="sidebar-content">
       
        <a href="#" class="" onclick="closeSidebar()"> <i class='bx bx-menu'></i></a>
        <a href="/"><i class='bx bxs-dashboard'></i>Dashboard</a>
        <a href="user"><i class='bx bx-user'></i>Users</a>
        <a href="invoice"><i class='bx bx-receipt'></i>Invoice</a>
        <a href="customer"><i class='bx bx-group' ></i>Customer</a>
        <a href="payment"><i class='bx bx-dollar'></i>Payment</a>
        <a href="subscription"><i class='bx bxs-user-check'></i>Subscription</a>
        <a href="product"><i class='bx bxs-briefcase-alt-2'></i>Product</a>
        <a href=""><i class='bx bxs-bar-chart-square'></i>Reporting & Analytics</a>
        <a href="taxconfiguration"><i class='bx bx-money-withdraw'></i>Tax Configuration</a>
        <a href="#"><i class='bx bx-chat'></i>Communication</a>
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn"><i class='bx bxs-cog' ></i>Settings</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#"><i class='bx bx-plus'></i>Integration</a>
            <a href="#"><i class='bx bx-support' style='color:#ffffff' ></i>Support</a>
            <a href="#"><i class='bx bx-shield-plus'></i>Safety & Compliance</a>
            <a href="#"><i class='bx bx-shield-plus'></i>Logout</a>
            <img src="/images/paybel-logo.png" class="paybel-log">
           <div class="paybellogoholder">
            <img src="/images/paybel-logo.png" class="paybel-logo">
           </div>
          </div>
        </div> 
      </div>  
    </div>
  </div>