

  /* Body */
  body{
    background-color: hsl(0, 0%, 100%);
    height: auto;
  }
  /* Custom styles */
  .sidebar-container {
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
/* Side Bar*/
  .sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(235,28,35);
    background: -moz-linear-gradient(225deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 52%);
    background: -webkit-linear-gradient(225deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 52%);
    background: linear-gradient(225deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb1c23",endColorstr="#333333",GradientType=1); 
    z-index: 1000;
    border-right: 1px solid  #7b0707;
    
  }

  .sidebar-content {
    display: none;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  



  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #222;
    transition: 0.3s opacity, 0.3s left; /* Transition for opacity and left position */
  z-index: -1;
  }

  .dropbtn {
  background-color: #333;
  
  color: #818181;
  padding: 16px;
  font-size: 20px;
  width: 250px;
  text-align: left;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #f1f1f1; 
  background-color: #222;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 250px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #222;
  min-width: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(164, 156, 156);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 40px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c5bfbf;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  .content {
    margin-left: 0; /* Changed to 0 */
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    margin-top: 50px;
  }

  .content .card {
    margin-bottom: 20px;
  }
  
  .custom-shadow {
    box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.1);
  }

  /* Align contents to the left */
  @media (max-width: 768px) {
    .dashboard {
      margin-left: 0;
      padding: 20px;
    }
  }
  
  /* Make Card 2 smaller */
 

  /* Adjust top bar position */
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgb(235,28,35);
    background: -moz-linear-gradient(223deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 68%);
    background: -webkit-linear-gradient(223deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 68%);
    background: linear-gradient(223deg, rgba(235,28,35,1) 11%, rgba(51,51,51,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb1c23",endColorstr="#333333",GradientType=1); 
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  /* Button styles */
  .top-bar button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  /* Top Bar Search Box */
  /* Adjust search bar position */
.search-bar {
  margin-left: auto; /* Push the search bar to the right */
  display: flex;
  align-items: center;
}

/* Style the search input and button */
.search-bar input[type="text"] {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 10px;
}
.paybel-logo{
  height: 50px;

}
/* End of Top Bar

  /* Card Title */
  .card-title{
    position: relative;
    background-color: #1e232a;
    color:#f2f2f2;
    height: 100%;
    width: 100%;
    box-shadow: 3px 8px 6px #b2afaf;
  }

  /* Invoice Content CSS */
  .invoice-container{
    
margin: auto;
border-style: groove;
border-width: 2px;
border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: auto;
    margin: auto;
    padding: 10px;
  }
  .invoice-cardheader{
    
    color: #eb1c23;
    font-family: Verdana;
    
    padding: 10px;
  }
  .invoice-button{
    margin-top: 10px;
  }
  input{
    border-style: solid;
    border-width: 2px;
  }
  textarea{
   border-style: groove;
   border-width: 2px;
   border-color: #eb1c23;
  }
  
  #invoice-content{
    top: 50%;
  left: 50%;

  }
  /* Global CSS */
 
  button{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;
    border-radius: 10px;
    width: 140px;
    background-color: #ede2e2;
  }
  label{
    font-family: Helvetica;
    color:#8f8181;
    letter-spacing: 1px;
  }
  .table{
   background-color:  hsl(0, 27%, 90%);
  }
  .placeholder{
    color: #8f8181;
  }
  .form-control::placeholder{
    color: #7c7575;
  }
  @media (max-width: 768px) {
    .invoice-table1 {
      margin-left: 0;
      padding: 20px;
    }
  }
  